body {
    align-items: center;
}
.jumbotron.readers {
    width: 1152px;
    height: 467px;
    background: #FFF8D3;
    border-radius: 0px 0px 20px 20px; 
}
h2.readers, p.get-books {
    padding: 20px;
}
.jumbotron input[type=text] {
    width: 60%;
    border: white;
    border-radius: 20px;
    padding: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.jumbotron input[type=text]:focus {
    width: 100%;
    border: white;
    text-align: center;
}
.dropdown .btn {
    background: white;
    border-radius: 20px;    
}
.reader img {
    align-items: right;
}
.col-sm-4.col-lg-2 .jumbotron {
    background-image: url(../img/uc-book1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    border-radius: 20px;
}
.col-sm-6.col-lg-3 .jumbotron {
    background-image: url(../img/uc-book1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    border-radius: 20px;
    background-position: center;
}
